@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.containt{
    display: flex;
}

.title{
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    padding: 15px;
    position: relative;
    display: block;
    margin: 0px auto;
    width: 25%;
}

.title::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border-top: 5px solid blue;
    border-left: 5px solid blue;
}

.title::after{
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    height: 30px;
    width: 30px;
    border-bottom: 5px solid blue;
    border-right: 5px solid blue;
}

.left, .right{
    width: 50%;
}

img{
    width: 100%;
}



/* header */

header{
    background-color: white;
    line-height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header.scroll{
    background: linear-gradient(150deg, blue, rgb(0, 153, 255));
    transition: 0.5s linear;
}

header.scroll .container nav ul li a{
    color: white;
    transition: 0.5s linear;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container .logo{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container .logo a{
    font-size: 2.5rem;
    text-decoration: none;
    color: black;
}

header .container .logo i{
    font-size: 2rem;
    cursor: pointer;
    padding: 5px;
    /* border: 1px solid black; */
    border-radius: 8px;
    display: none;
}
header .container nav{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: 0.5s linear;
}

header .container nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container nav ul li{
    padding: 0 2rem;
}

header .container nav ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}
/* header end */

/* banner */
#home{
    min-height: 100vh;
    background: linear-gradient(150deg, blue, rgb(0, 153, 255));
    border-radius: 0 0 20% 20%;
    padding: 5rem 0;
    margin-top: 80px;
}

#home .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#home .left, #home .right{
    width: 50%;
}
#home .right img{
    width: 100%;
}
#home .brand{
    font-size: 3rem;
    color: white;
}

#home button{
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border-radius: 35px;
    font-size: 20px;
    border: 2px solid white;cursor: pointer;
}
/* banner end */



/* about */
#about{
    min-height: 100vh;
    padding: 80px 0;
}

#about .containt:nth-child(3){
    flex-direction: row-reverse;
}

#about .containt .left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
}

#about .containt .left h1{
    margin-bottom: 2rem;
}
/* about end */



/* services */

#services{
    min-height: 100vh;
    margin-top: 100px;
}

#services .title{
    width: 30%;
}

/* services end */


/* footer */
footer{
    background-color: #282C2F;
    color: white;
    padding: 30px 0;
}


footer .footer-box{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .footer-box h4{
    font-size: 20px;
    margin-bottom: 30px;
}

footer .containt .footer-box:nth-child(1){
    width: 40%;
}


footer .containt .footer-box:nth-child(2){
    width: 30%;
}

footer .containt .footer-box:nth-child(3){
    width: 30%;
}

footer .footer-box .brand_name .social_links{
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

footer .footer-box .brand_name .social_links a:first-child{
    margin-left: 0;
}

footer .footer-box .brand_name .social_links a{
    margin: 0 1rem;
    color: white;
    font-size: 1.2rem;
    padding: 5px 10px;
    /* border: 2px solid white; */
    border-radius: 5px;
    background-color: #3f4447;
}

footer .footer-box ul{
    list-style-type: none;
}

footer .footer-box ul li{
    margin: 1rem 0;
}

footer .footer-box ul li a{
    text-decoration: none;
    color: white;
}

footer .footer-box iframe{
    padding: 10px;
    background-color: #3f4447;
}


footer .developer{
    text-align: center;
}
/* footer end */



/* responsive */
@media screen and (max-width: 500px) {
    .container{
        width: 100%;
    }
    
    .left, .right{
        width: 100%;
    }
    
    .title{
        font-size: 1.5rem;
        width: 60%;
    }


    header .container .logo{
        width: 95%;
        margin: 0 auto;
    }
    
    header .container .logo i{
        display: initial;
        transition: 0.5s linear;
    }
    header .container .logo i.fa-times{
        transform: rotate(180deg);
    }
    
    header .container nav{
        position: absolute;
        top: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        left: 0;
        width: 100%;
        height: auto;
        display: block;
        background: linear-gradient(150deg, blue, rgb(0, 153, 255));
        transition: 0.5s linear;
    }

    header .container nav.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .container nav ul{
        display: block;
        text-align: center;
    }

    header .container nav ul li a{
        color: white;
    }


    #home{
        padding-top: 45px;
        padding-bottom: 20px;
        border-radius: 0;
        text-align: center;
    }

    #home .container{
        flex-direction: column-reverse;
    }

    #home .left, #home .right{
        width: 100%;
    }

    #home .brand{
        font-size: 30px;
        text-align: center;
    }

    
    #about .containt{
        flex-direction: column-reverse;
        text-align: center;
    }
    
    #about .containt:nth-child(3){
        flex-direction: column-reverse;
    }
    
    footer .containt{
        flex-direction: column;
    }
    
    
    footer .footer-box{
        width: 100% !important;
        flex-direction: column;
        text-align: center;
    }
    
    footer .social_links{
        justify-content: center;
    }

    footer .social_links a{
        margin: 0 1rem !important;
    }

    
    
    
    
    
}
/* responsive end */